<script>
var date = location.search.sbstring(1);
var value = date.sprit('=');
@value = value[1]
</script>
<div class="event-add-main">
  <h2 class="event-add-title">服装記録</h2>
  <%= form_with model: @event, local: true do |f| %>
  <div class="date-imput">
    <div class="record-text">
      日付
      <%= f.date_field :date, value: @value %>
    </div>

  <div class="img-upload">
    <div class="record-text">
      服装
      <div class="click-upload">
        <p>
          クリックして写真をアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
  </div>
  <div class="events-selection">
    <div class="record-text">
      出来事
    </div>
    <%= f.collection_select(:events_select_id, EventsSelect.all, :id, :name, {}, {class:"select-box", id:"events"}) %>
  </div>
  <div class="met-person">
    <div class="record-text">
      会った人
    </div>
    <%= f.text_area :met_person, class:"met-person-text" %>
  </div>
  <div class="record-btn-contents">
    <%= f.submit "登録する" ,class:"record-btn" %>
  </div>
  <% end %>
</div>
