<!DOCTYPE html>
<html>
  <head>
    <title>Kimawashi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>
  <header>
    <div class="title">
    <%= link_to 'KIMAWASHI', root_path, class:"title-btn"%>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
