<!DOCTYPE html>
<html>
  <head>
    <title>Kimawashi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

     <% stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>
  <header>
    <nav class="nav nav-pills nav-fill" style="background-color: #fff;">
      <button type="button" class="btn btn-primary"><h1 class="nav-link" ><a href="/">KIMAWASHI</a></h1></button>
      <% if user_signed_in? %>
        <a class="nav-link" href="/users/edit">ユーザー情報編集</a>
        <a class="nav-link" href="/users/sign_out">ログアウト</a>
      <% else %>
        <a class="nav-link" href="/users/sign_up">新規登録</a>
        <a class="nav-link" href="/users/sign_in" >ログイン</a>
      <% end %>
    </nav> 
  </header>
  <body class='bg-dark'style="background-color: cyan">
    <%= yield %>
  </body>
</html>
